.board__row {

}

.board__cell {
    width: 80px;
    height: 80px;
    text-align: center;


    border: 1px solid tan;
    border-radius: 8px;
    margin-right: 8px;
    display: inline-block;
    position: relative;

}

.board__item {

}