
.popover-wrapper {
    padding: 28px 48px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translateY(-50%) translateX(50%);
    z-index: 3000;
    display: grid;
    place-items: center;
    background-color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 48px rgb(80, 78, 74);
}

